body {
	margin: 0;
	box-sizing: border-box;
	font-family: "Alegreya Sans";
	scroll-behavior: smooth;
}

.home {
	background-image: url(../images/back-ground1.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	opacity: 1;
}

.home .caption {
	text-align: center;
	padding-top: 50px;
}

.caption {
	width: 710px;
	margin: 0 auto;
	max-width: 100%;
	box-sizing: inherit;
}

.caption p,
h1,
button {
	margin-top: 18px;
}

p {
	color: rgba(255, 255, 255, .92);
	line-height: 1.86em;
}

.wlc {
	font-size: 22px;
}

.caption h1 {
	line-height: 1.2em;
	font-size: 76px;
	font-weight: 400;
	box-sizing: inherit;
	color: rgba(255, 255, 255, .92);
}

.disc {
	font-size: 24px;
}

.home .caption .btn {
	background-color: transparent;
	border: 2px solid transparent;
	border-radius: 4px;
	padding: 15px 28px;
	color: white;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.3rem;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	margin-bottom: 12px;
	z-index: 1;
}

.home .caption .btn.bg-btn {
	background-color: #8e7754;
	z-index: 2;
}


.home .caption .bg-btn:hover {
	color: black;
	background-color: #fff;
	transition: all .2s ease-in-out
}

.home .caption .btn-outline {
	border-color: #fff;
}

.btn.btn-outline:hover {
	color: black;
	background-color: #fff;
	transition: all .2s ease-in-out
}

.nav {
	background-color: red;
	padding: 10px;
}

.nav img {
	float: left;
	width: 15%;
}

.nav ul {
	float: right;
	background-color: teal;
	list-style: none;
}

.nav li {
	float: left;
	width: 100px;
}

.nav li a {
	font-size: 17px;
	font-weight: 400;
	text-decoration: none;
	color: #e0dcd2;
	;
}

.clear-fix {
	clear: both;
}